@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
@import "tailwindcss";


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.loading {
  color: transparent;
  background: linear-gradient(100deg, #eeeeee 8%, #dddddd 18%, #dddddd 18%, #eeeeee 33%);
  background-size: 200% 100%;
  animation: shimmer 1.2s infinite linear;
  border-radius: 4px;
}
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
